*{
    box-sizing: border-box;
}

p {
    font-weight: bold;
    font-size: 25px;
  }

  /*
    PARA ENTENDER MEJOR CÓMO FUNCIONA EL PARÁMETRO.

    tr:nth-child(odd) or tr:nth-child(2n+1)
    Represents the odd rows of an HTML table: 1, 3, 5, etc.

    tr:nth-child(even) or tr:nth-child(2n)
    Represents the even rows of an HTML table: 2, 4, 6, etc.

    :nth-child(7)
    Represents the seventh element.

    :nth-child(5n)
  */

  #list01 li:nth-child(n) {
    border: 2px solid black;
    margin-bottom: 1px;
    background-color: rgb(22, 223, 189);
  }

  #list01 li:nth-child(-n + 3) {
    background-color: green;
    margin-bottom: 1px;
  }

  #list01 li:nth-last-child(-n + 1) {
    background-color: red;
    margin-bottom: 1px;
  }

  #list02 li:nth-child(-n + 3) {
    border: 2px solid rgb(29, 245, 29);
    margin-bottom: 1px;
  }

  #list02 li:nth-child(even) {
    background-color: rgb(64, 25, 126);
  }

  #list02 li:nth-child(odd) {
    background-color: rgb(226, 17, 132);
  }

  #list02 li:nth-last-child(-n + 1) {
    border: 2px solid red;
    margin-bottom: 1px;
  }

  /*Quitando los puntos de las listas.*/
  li {
    list-style: none;
    width: 1000px;
    margin-left: 10%;
  }

  body {
    background-color: rgb(252, 255, 97);
  }